<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Upcoming Service Projects</h2>
    <ul class="projects-grid">
        <% projects.forEach(project => { %>
            <% 
                const formattedDate = new Date(project.project_date).toLocaleDateString(undefined, {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric'
                });
            %>
            <li>
                <div class="project-header">
                    <strong class="project-title-block">
                        <span class="meta-inline-date"><%= formattedDate %>:</span> 
                        <span class="title-text"><%= project.title %></span> 
                        <span class="meta-inline-org">(<%= project.organization_name %>)</span>
                    </strong>
                </div>
                
                <p class="project-desc"><%= project.description %></p>
                
                <div class="project-details">
                    <span class="project-location">📍 <%= project.location %></span>
                </div>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>