<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Upcoming Service Projects</h2>
    <ul class="projects-grid">
        <% projects.forEach(project => { %>
            <li>
                <strong><%= project.title %></strong>
                <p class="project-desc"><%= project.description %></p>
                
                <div class="project-details">
                    <span class="project-location">📍 <%= project.location %></span>
                    <span class="project-date">📅 <%= new Date(project.project_date).toLocaleDateString() %></span>
                </div>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>